* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  height: 600px;
  background-color: #7fbeec;
  /* width: 1350px; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar {
  height: 100px;
}
.logo {
  font-size: 15px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu {
  color: black;
  font-size: 20px;
}

.login {
  color: black;
}

.btn-sign {
  color: white;
  background: #5246c8;
  border-style: hidden;
  padding: 10px;
  margin-top: -5px;
}

.container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu ul li {
  padding: 20px;
}

.menu-flex {
  display: flex;
  padding: 20px;
  margin: 20px;
}

.login-flex {
  display: flex;
  padding: 20px;
}

.login-flex h1 {
  margin-right: 30px;
}

.logo {
  margin-left: 30px;
}

.btn {
  background-color: #5635dd;
  height: 40px;
  width: 100px;
  color: #fafcfc;
  border: none;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 100px;
}
.txt {
  color: #4a5d9a;
}
.btn {
  margin: 85px;
  margin-top: -10px;
  text-align: center;
  border-radius: 20px;
  margin-left: 100px;
}
.pics {
  display: flex;
  height: 400px;
  margin-left: 500px;
  margin-top: -400px;
}

.pics .img1st {
  margin-right: -150px;
}

.wrt {
  color: #4b4263;
  margin-top: -70px;
  margin-left: 100px;
}

.txtn p {
  text-align: center;
  margin-top: 90px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.brand {
  display: flex;
  height: 30px;
  padding: -10px;
  margin-top: 30px;
}

.brand img {
  height: 30px;
  width: auto;
}

.brand img:first-child {
  height: 80px;
  width: auto;
  margin-top: -25px;
}

.brand img:nth-child(6) {
  height: 70px;
  width: auto;
  margin-top: -20px;
}
.card {
  width: 350px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  background: #bcc6cb;
  margin-right: 50px;
  margin-top: -150px;
}

.card p {
  font-size: 16px;
  color: #333;
  margin: 0;
  
}
section {
  height: 100px;
}
.section h2 {
  margin-top: 80px;
  margin-left: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section .yet {
  font-size: 20px;
  color: #5d6d7e;
  margin-left: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-row {
  display: flex;
  justify-content: space-between; /* Distributes the cards with equal space in between */
}

.cards {
  flex: 1; /* Each card will take up an equal amount of space */
  padding: 30px;
  border: 1px solid #ccc;
  margin: 10px; /* Adjust to your preference */
  border-radius: 20px;
  width: 40px;
  justify-content: center;
  text-align: center;
}
.cards p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cards h4 {
  margin-left: -360px;
}
.fold {
  font-size: 50px;
}
.pur {
  color: #687b81;
}

.section3 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.track {
  margin-top: 40px;
}

.track p {
  color: #2e23dc;
  margin-bottom: 10px;
}

.track h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.track .way {
  color: #5c6b94;
  border-bottom: 1px solid #687b81;
  padding: 20px;
}

.check {
  color: #5c6b94;
}

.Wise {
  background-color: #e5e8e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.wise p {
  margin-bottom: 20px;
}

.wise span {
  font-style: italic;
  color: #555;
}

.containerr {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.containerr .WHY {
  margin-top: 50px;
  color: #3a3cd2;
  margin-left: -120px;
}

.containerr h2 {
  margin-top: 10px;
  margin-left: -90px;
}

.containerr .msg {
  color: #5c6b94;
}

.containerr .Wise p {
  color: black;
  font: size 20px;
}
.credit_card .cre_card {
  height: 400px;
}

.layout-cards {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -40px;
}
.layout {
  background: #6094e0;
  height: 500px;
  margin-top: 50px;
}
.layout-logo {
  font-size: 50px;
  text-align: left;
}
.really p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.among p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.really {
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  height: 255px;
  background: whitesmoke;
}
.among {
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  background: whitesmoke;
}
.grid {
  margin-top: 50px;
}
.gird-one {
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background: whitesmoke;
}
.grid-two {
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  background: whitesmoke;
}

.feature {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
  margin-left: 50px;
  padding: 50px;
}

.article .testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 50px;
}
.test h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.testimonials .orange {
  margin-right: 180px;
  height: 50px;
  margin-top: -50px;
}
.design {
  display: flex;
  justify-content: space-between;
}

.frame {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
}

.card-girl {
  margin-left: -10px;
}

.card-text {
  flex: 1;
}

.card-img {
  margin-left: 20px;
  height: -5px;
}

.million {
  display: flex;
  height: 150px;
  background-color: #341da6;
  margin-top: 100px;
  justify-content: space-around;
}

.mi-text,
.active,
.starts,
.transaction {
  text-align: center;
  padding: 40px;
  color: white;
}
.mi-text {
  border-right: 1px solid black;
}

.recent {
  margin-top: 100px;
}

.recent h1 {
  font-style: normal;
  margin-left: 100px;
}

.recent_card {
  display: flex;
  border: 1px solid whitesmoke;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  margin-top: 20px;
}

.recent_txt {
  flex: 1;
  padding: 10px;
}

.recent_img {
  margin-left: 20px;
}

.recent_txt p {
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.recent_txt h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.project {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9f9;
}

.men,
.sun,
.tab {
  text-align: center;
  padding: 20px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  width: 400px;
  margin-top: 30px;
  background-color: white;
}

.men,
.sun,
.tab p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sun img {
  margin-top: 20px;
}
.tab h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.msg_img {
  display: flex;
  padding: 80px;
  margin-top: -40px;
}

.feq {
  margin-top: 50px;
  margin-left: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.purple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: #3f1dca;
  width: 1100px;
  height: 200px;
  margin-left: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.purple .purple-btn {
  background-color: #f7491f;
  height: 40px;
  width: 150px;
  border: none;
}

h2 {
  margin: 0;
}

button {
  margin-top: 20px;
}

.footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 20px;
}

.shakir,
.company,
.resources,
.join {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.line {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
  height: 100%;
}

.end {
  text-align: center;
  padding: 10px;
}
.button-container {
  display: flex;
  align-items: center;
}

.email-button {
  background: #e5e7e9;
  border: 10px;
  font-size: 14px;
  font-style: normal;
  color: #777;
  cursor: pointer;
  padding: 10px;
}
.join p {
  color: #777;
}

.subscribe-button {
  background-color: #3f1dca;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.shakir p {
  color: #756dff;
}
.company,
.resources {
  color: #191746;
  text-align: left;
}
.join h2 {
  color: #191746;
}
.end {
  color: #191746;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.shakir,
.company,
.resources,
.join h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
